<h2>Clocks details</h2>
<div>
  <p><strong>name: </strong>{{pokemon.name}}</p>
  <p><strong>type: </strong>{{pokemon.type}}</p>
  <p><strong>cp: </strong>{{pokemon.cp}}</p>
  <td><a href="/pokemons/" class="btn btn-secondary">Back</a></td>
</div>
