<h2>Clocks details</h2>
<div class="hej">
  <p><strong>manufacturer: </strong>{{clock.manufacturer}}</p>
  <p><strong>model: </strong>{{clock.model}}</p>
  <p><strong>type: </strong>{{clock.type}}</p>
  <td><a href="/clocks/" class="btn btn-secondary">Back</a></td>
</div>