<h2>Clocks details</h2>
<div>
  <p><strong>distributor: </strong>{{videogame.distributor}}</p>
  <p><strong>name: </strong>{{videogame.name}}</p>
  <p><strong>type: </strong>{{videogame.type}}</p>
  <td><a href="/videogames/" class="btn btn-secondary">Back</a></td>
</div>
